header
	.container-fluid
		button(type="button" class="d-lg-none menu-bar")
			span(class="icon icon-bars")
		a(href="index.html", class="techademy")
			span TECH
			| ADEMY
		form(action="#", class="search-form")
			input(type="text", name="search" , placeholder="Search courses here...")
			button(type="submit", class="search-btn")
				span(class="icon icon-search")
		nav(class="navigation my-lg-auto")
			a(href="#", class="close-nav d-lg-none")
				span(class="icon icon-times")
			ul
				
				li
					a(href="#")
						| Skills
						span(class="icon icon-angle-down drop-arrow")
					ul(class="sub-menu d-lg-none")
						li
							a(href="#")
								| Programming
						li
							a(href="#")
								| Application Development
						li
							a(href="#")
								| Business Management
						li
							a(href="#")
								| Design
						li
							a(href="#")
								| Software Testing
				li
					a(href="#")
						| Plan
				li
					a(href="#")
						| For Business
				li.my-lg-auto
					button(type="button" class="btn btn-sm btn-primary")
						| Login
					| &nbsp;&nbsp;
					button(type="button" class="btn btn-sm btn-secondary")
						| Signup

		button(type="button" class="search-icon d-lg-none")
			span(class="icon icon-search")