section
	div.container-fluid.contents
		h2(class="heading text-center")
			| Techademy Trending Courses
		ul(class="nav nav-tab mx-auto" role="tablist")
			li.nav-item
				a(href="#best-seller", role="tab", data-toggle="tab", class="active")
					| Best Seller
			li.nav-item
				a(href="#popular", role="tab", data-toggle="tab")
					| Popular
			li.nav-item
				a(href="#free", role="tab", data-toggle="tab")
					| Free
			li.nav-item
				a(href="#e-books", role="tab", data-toggle="tab")
					| E-Books

		div.tab-content
			div(class="tab-pane active", id="best-seller", role="tabpanel")
				div.carousel-outter
					div.card
						img(class="card-img-top img-fluid", src="img/card1.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card2.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card3.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card4.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
			
			div(class="tab-pane", id="popular", role="tabpanel")
				div.carousel-outter
					div.card
						img(class="card-img-top img-fluid", src="img/card1.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card2.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card3.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card4.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart

			div(class="tab-pane", id="free", role="tabpanel")
				div.carousel-outter
					div.card
						img(class="card-img-top img-fluid", src="img/card1.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card2.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card3.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card4.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
			
			div(class="tab-pane", id="e-books", role="tabpanel")
				div.carousel-outter
					div.card
						img(class="card-img-top img-fluid", src="img/card1.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card2.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card3.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
					div.card
						img(class="card-img-top img-fluid", src="img/card4.png")
						div.card-body
							h4.card-title
								| Adobe Photoshop Beginers Course
								span.price
									span.icon.icon-inr
									| 1999
							p.card-text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida lacus eget ullamcorper accumsan. Nunc efficitur lacinia fringilla. Etiam quis consectetur orci, id condimentum diam.
							ul
								li.my-auto
									span.icon.icon-clock
									| 12h 30m
								li.my-auto
									span.icon.icon-heart
									| 80000
								li.my-auto
									button(type="button" class="btn btn-primary btn-sm")
										| Add to Cart
			
